<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SendMT2Soap" />
                <binding name="SendMT2Soap1" />
                <binding name="SendMT2Soap2" />
                <binding name="SendMT2Soap3" />
                <binding name="SendMT2Soap4" />
                <binding name="SendMT2Soap5" />
                <binding name="SendMT2Soap6" />
                <binding name="SendMT2Soap7" />
                <binding name="SendMT2Soap8" />
                <binding name="SendMT2Soap9" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.70.122.42:8089/SendMT2.asmx" binding="basicHttpBinding"
                bindingConfiguration="SendMT2Soap" contract="VnptWs.SendMT2Soap"
                name="SendMT2Soap" />
            <endpoint address="http://203.162.141.80:8099/webservice/SendMT2.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMT2Soap1"
                contract="WebserviceTestMariaDB.SendMT2Soap" name="SendMT2Soap1" />
            <endpoint address="http://203.162.141.112:8099/webservice/SendMT2.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMT2Soap2"
                contract="TestServiceMariaDB_112.SendMT2Soap" name="SendMT2Soap2" />
            <endpoint address="http://10.70.122.25:8088/webservice/SendMT2.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMT2Soap3"
                contract="WsTestMegaIncom.SendMT2Soap" name="SendMT2Soap3" />
            <endpoint address="http://10.70.122.26:8088/webservice/SendMT2.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMT2Soap4"
                contract="WebserviceIncom_Test26.SendMT2Soap" name="SendMT2Soap4" />
            <endpoint address="http://10.70.122.25:8089/SendMT2.asmx" binding="basicHttpBinding"
                bindingConfiguration="SendMT2Soap5" contract="Test_Virtual_25.SendMT2Soap"
                name="SendMT2Soap5" />
            <endpoint address="http://10.70.122.26:8088/SendMT2.asmx" binding="basicHttpBinding"
                bindingConfiguration="SendMT2Soap6" contract="Test_Virtual_26.SendMT2Soap"
                name="SendMT2Soap6" />
            <endpoint address="http://10.70.122.31:8088/webservice/SendMT2.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMT2Soap7"
                contract="Ws_TestVirtualDB.SendMT2Soap" name="SendMT2Soap7" />
            <endpoint address="http://10.70.122.31:8088/webservice/SendMT2.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMT2Soap8"
                contract="NewSophos_Ws.SendMT2Soap" name="SendMT2Soap8" />
            <endpoint address="http://14.225.235.21:8088/webservice/SendMT2.asmx"
                binding="basicHttpBinding" bindingConfiguration="SendMT2Soap9"
                contract="ws_Test_cloud.SendMT2Soap" name="SendMT2Soap9" />
        </client>
    </system.serviceModel>
</configuration>
